/headquarters/frontoffice/bundles/
/headquarters/backoffice/bootstrap.php.cache
/headquarters/backoffice/storage/cache/*
/headquarters/backoffice/config/parameters.yml
/headquarters/backoffice/storage/logs/*
!/headquarters/backoffice/storage/cache/.gitkeep
!/headquarters/backoffice/storage/logs/.gitkeep
/build/
/headquarters/vendor/*
!/headquarters/vendor/*.php
/headquarters/binaries/
/composer.phar
/node_modules