headquarters/backoffice/config/parameters.yml
headquarters/frontoffice/*
headquarters/libraries/*
headquarters/vendor/*
#!headquarters/vendor/**/*.php
binaries/
composer.phar
node_modules/
.git/
bin/
demo/
tests/
test/
Test/
Tests/
headquarters/**/*.md
headquarters/**/*.txt