headquarters/frontoffice/**/*.json
headquarters/**/*.jshintrc
headquarters/**/*.npmignore
headquarters/**/*.travis.yml
headquarters/**/*.editorconfig
headquarters/binaries/
composer.phar
node_modules/
headquarters/**/bin/
headquarters/**/demo/
headquarters/**/tests/
headquarters/**/tests.src/
headquarters/**/test/
headquarters/**/docs/
headquarters/**/Test/
headquarters/**/Tests/
headquarters/**/*.md
headquarters/**/*.txt
headquarters/**/.DS_Store
headquarters/**/*.rst
headquarters/**/example/