<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

      <ul class="nav navbar-nav rhetina-navbar-left">
        {{#each sections}}
        <li><a href="{{url}}">{{name}}</a></li>
        {{/each}}
      </ul>
      <ul class="nav navbar-nav navbar-right rhetina-navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Rhetina <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Get Support</a></li>
            <li><a href="#">Terms and Conditions</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li class="divider"></li>
            <li><a href="http://store.rhetina.com/" target="_blank">Go to Rhetina</a></li>
          </ul>
        </li>
      </ul>
  </div>
  <!-- /.container-fluid -->
</nav>