<div class="row">
  <div class="col-md-12">
    <div class="grid simple ">
      <div class="grid-title no-border">
        <h4>Rhetina Products</h4>
      </div>
      <div class="grid-body no-border">
        <h3>Activated <span class="semi-bold">Products</span></h3>
        <table class="table no-more-tables">
          <thead>
          <tr>
            <!--<th style="width:1%">-->
            <!--<div class="checkbox check-default">-->
            <!--<input id="checkbox10" type="checkbox" value="1" class="checkall">-->
            <!--<label for="checkbox10"></label>-->
            <!--</div>-->
            <!--</th>-->
            <th style="width:9%">Project Name</th>
            <th style="width:22%">Description</th>
            <th style="width:6%">Author</th>
            <th style="width:10%">Actions</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>