
.ri-emo-happy:before { content: '\e800'; } /* '' */
.ri-rss-alt:before { content: '\e856'; } /* '' */
.ri-emo-wink2:before { content: '\e91e'; } /* '' */
.ri-emo-unhappy:before { content: '\e91f'; } /* '' */
.ri-emo-sleep:before { content: '\e920'; } /* '' */
.ri-emo-thumbsup:before { content: '\e921'; } /* '' */
.ri-emo-devil:before { content: '\e922'; } /* '' */
.ri-emo-surprised:before { content: '\e923'; } /* '' */
.ri-emo-tongue:before { content: '\e924'; } /* '' */
.ri-emo-coffee:before { content: '\e925'; } /* '' */
.ri-emo-sunglasses:before { content: '\e926'; } /* '' */
.ri-emo-displeased:before { content: '\e927'; } /* '' */
.ri-emo-beer:before { content: '\e928'; } /* '' */
.ri-emo-grin:before { content: '\e929'; } /* '' */
.ri-emo-angry:before { content: '\e92a'; } /* '' */
.ri-emo-saint:before { content: '\e92b'; } /* '' */
.ri-emo-cry:before { content: '\e92c'; } /* '' */
.ri-emo-shoot:before { content: '\e92d'; } /* '' */
.ri-emo-squint:before { content: '\e92e'; } /* '' */
.ri-emo-laugh:before { content: '\e92f'; } /* '' */
.ri-spin1:before { content: '\e930'; } /* '' */
.ri-spin2:before { content: '\e931'; } /* '' */
.ri-spin3:before { content: '\e932'; } /* '' */
.ri-spin4:before { content: '\e933'; } /* '' */
.ri-spin5:before { content: '\e934'; } /* '' */
.ri-spin6:before { content: '\e935'; } /* '' */
.ri-firefox:before { content: '\e88b'; } /* '' */
.ri-chrome:before { content: '\e88c'; } /* '' */
.ri-opera:before { content: '\e88d'; } /* '' */
.ri-ie:before { content: '\e88e'; } /* '' */
.ri-crown:before { content: '\e93a'; } /* '' */
.ri-crown-plus:before { content: '\e93b'; } /* '' */
.ri-crown-minus:before { content: '\e93c'; } /* '' */
.ri-marquee:before { content: '\e93d'; } /* '' */
.ri-search:before { content: '\e805'; } /* '' */
.ri-star:before { content: '\e9d6'; } /* '' */
.ri-star-empty:before { content: '\e9d7'; } /* '' */
.ri-star-half:before { content: '\e9d8'; } /* '' */
.ri-star-half-alt:before { content: '\e9d9'; } /* '' */
.ri-ok-squared:before { content: '\e813'; } /* '' */
.ri-link-alt:before { content: '\e8a2'; } /* '' */
.ri-download-cloud:before { content: '\e8ef'; } /* '' */
.ri-keyboard:before { content: '\e83b'; } /* '' */
.ri-attention-alt:before { content: '\e80a'; } /* '' */
.ri-direction:before { content: '\e824'; } /* '' */
.ri-box:before { content: '\e896'; } /* '' */
.ri-down-open-alt:before { content: '\e870'; } /* '' */
.ri-left-open-alt:before { content: '\e871'; } /* '' */
.ri-right-open-alt:before { content: '\e872'; } /* '' */
.ri-up-open-alt:before { content: '\e865'; } /* '' */
.ri-award:before { content: '\e804'; } /* '' */
.ri-ellipsis:before { content: '\e9da'; } /* '' */
.ri-ellipsis-vert:before { content: '\e9db'; } /* '' */
.ri-off:before { content: '\e9dc'; } /* '' */
.ri-ajust:before { content: '\e9d5'; } /* '' */
.ri-tint:before { content: '\e943'; } /* '' */
.ri-check:before { content: '\e939'; } /* '' */
.ri-check-empty:before { content: '\e938'; } /* '' */
.ri-circle:before { content: '\e937'; } /* '' */
.ri-circle-empty:before { content: '\e936'; } /* '' */
.ri-dot-circled:before { content: '\e919'; } /* '' */
.ri-bug:before { content: '\e88f'; } /* '' */
.ri-money:before { content: '\e9dd'; } /* '' */
.ri-euro:before { content: '\e9de'; } /* '' */
.ri-pound:before { content: '\e9df'; } /* '' */
.ri-dollar:before { content: '\e9e6'; } /* '' */
.ri-rupee:before { content: '\e9e5'; } /* '' */
.ri-yen:before { content: '\e9e4'; } /* '' */
.ri-rouble:before { content: '\e9e3'; } /* '' */
.ri-try:before { content: '\e9e2'; } /* '' */
.ri-won:before { content: '\e9e1'; } /* '' */
.ri-bitcoin:before { content: '\e9e0'; } /* '' */
.ri-dropbox:before { content: '\e853'; } /* '' */
.ri-blank:before { content: '\e8a0'; } /* '' */
.ri-lemon:before { content: '\e8a1'; } /* '' */
.ri-note:before { content: '\e801'; } /* '' */
.ri-note-beamed:before { content: '\e802'; } /* '' */
.ri-music:before { content: '\e803'; } /* '' */
.ri-mail:before { content: '\e806'; } /* '' */
.ri-heart:before { content: '\e807'; } /* '' */
.ri-heart-empty:before { content: '\e808'; } /* '' */
.ri-user:before { content: '\e80b'; } /* '' */
.ri-users:before { content: '\e80c'; } /* '' */
.ri-user-add:before { content: '\e80d'; } /* '' */
.ri-video-alt:before { content: '\e80e'; } /* '' */
.ri-picture:before { content: '\e80f'; } /* '' */
.ri-camera:before { content: '\e810'; } /* '' */
.ri-cancel:before { content: '\e814'; } /* '' */
.ri-cancel-circled:before { content: '\e809'; } /* '' */
.ri-cancel-squared:before { content: '\e816'; } /* '' */
.ri-plus:before { content: '\e817'; } /* '' */
.ri-plus-squared:before { content: '\e819'; } /* '' */
.ri-minus:before { content: '\e81a'; } /* '' */
.ri-minus-squared:before { content: '\e81c'; } /* '' */
.ri-help:before { content: '\e81d'; } /* '' */
.ri-help-circled:before { content: '\e81e'; } /* '' */
.ri-info:before { content: '\e81f'; } /* '' */
.ri-info-circled:before { content: '\e820'; } /* '' */
.ri-back:before { content: '\e821'; } /* '' */
.ri-link:before { content: '\e823'; } /* '' */
.ri-lock:before { content: '\e825'; } /* '' */
.ri-lock-open:before { content: '\e826'; } /* '' */
.ri-bookmark:before { content: '\e829'; } /* '' */
.ri-bookmarks:before { content: '\e82a'; } /* '' */
.ri-flag:before { content: '\e82b'; } /* '' */
.ri-thumbs-up:before { content: '\e82c'; } /* '' */
.ri-thumbs-down:before { content: '\e82d'; } /* '' */
.ri-download:before { content: '\e82e'; } /* '' */
.ri-upload:before { content: '\e82f'; } /* '' */
.ri-upload-cloud:before { content: '\e830'; } /* '' */
.ri-reply:before { content: '\e831'; } /* '' */
.ri-reply-all:before { content: '\e832'; } /* '' */
.ri-forward-alt:before { content: '\e833'; } /* '' */
.ri-quote:before { content: '\e834'; } /* '' */
.ri-code:before { content: '\e835'; } /* '' */
.ri-feather:before { content: '\e838'; } /* '' */
.ri-print:before { content: '\e839'; } /* '' */
.ri-retweet:before { content: '\e83a'; } /* '' */
.ri-comment:before { content: '\e83c'; } /* '' */
.ri-chat:before { content: '\e83d'; } /* '' */
.ri-attention:before { content: '\e83f'; } /* '' */
.ri-alert:before { content: '\e840'; } /* '' */
.ri-vcard:before { content: '\e841'; } /* '' */
.ri-address:before { content: '\e842'; } /* '' */
.ri-location:before { content: '\e843'; } /* '' */
.ri-map:before { content: '\e844'; } /* '' */
.ri-cup:before { content: '\e847'; } /* '' */
.ri-trash-alt:before { content: '\e848'; } /* '' */
.ri-newspaper:before { content: '\e84e'; } /* '' */
.ri-book:before { content: '\e850'; } /* '' */
.ri-archive:before { content: '\e852'; } /* '' */
.ri-rss:before { content: '\e854'; } /* '' */
.ri-phone:before { content: '\e855'; } /* '' */
.ri-tools:before { content: '\e857'; } /* '' */
.ri-share-alt:before { content: '\e858'; } /* '' */
.ri-basket:before { content: '\e85a'; } /* '' */
.ri-bag:before { content: '\e85b'; } /* '' */
.ri-login:before { content: '\e85d'; } /* '' */
.ri-logout:before { content: '\e85e'; } /* '' */
.ri-mic:before { content: '\e861'; } /* '' */
.ri-clock:before { content: '\e863'; } /* '' */
.ri-hourglass:before { content: '\e864'; } /* '' */
.ri-light-down:before { content: '\e866'; } /* '' */
.ri-light-up:before { content: '\e867'; } /* '' */
.ri-adjust:before { content: '\e868'; } /* '' */
.ri-block:before { content: '\e869'; } /* '' */
.ri-publish:before { content: '\e86d'; } /* '' */
.ri-window:before { content: '\e86e'; } /* '' */
.ri-arrow-combo:before { content: '\e86f'; } /* '' */
.ri-down-open:before { content: '\e874'; } /* '' */
.ri-left-open:before { content: '\e875'; } /* '' */
.ri-right-open:before { content: '\e876'; } /* '' */
.ri-up-open:before { content: '\e877'; } /* '' */
.ri-down-open-mini:before { content: '\e878'; } /* '' */
.ri-left-open-mini:before { content: '\e879'; } /* '' */
.ri-right-open-mini:before { content: '\e87a'; } /* '' */
.ri-up-open-mini:before { content: '\e87b'; } /* '' */
.ri-down-open-big:before { content: '\e87c'; } /* '' */
.ri-left-open-big:before { content: '\e87d'; } /* '' */
.ri-right-open-big:before { content: '\e87e'; } /* '' */
.ri-up-open-big:before { content: '\e87f'; } /* '' */
.ri-down-dir:before { content: '\e884'; } /* '' */
.ri-left-dir:before { content: '\e885'; } /* '' */
.ri-right-dir:before { content: '\e886'; } /* '' */
.ri-up-dir:before { content: '\e887'; } /* '' */
.ri-ccw:before { content: '\e890'; } /* '' */
.ri-cw:before { content: '\e891'; } /* '' */
.ri-arrows-ccw:before { content: '\e892'; } /* '' */
.ri-level-down:before { content: '\e893'; } /* '' */
.ri-level-up:before { content: '\e894'; } /* '' */
.ri-shuffle:before { content: '\e895'; } /* '' */
.ri-switch:before { content: '\e897'; } /* '' */
.ri-palette:before { content: '\e8a5'; } /* '' */
.ri-list-add:before { content: '\e8a7'; } /* '' */
.ri-signal:before { content: '\e8a8'; } /* '' */
.ri-trophy:before { content: '\e8a9'; } /* '' */
.ri-battery:before { content: '\e8aa'; } /* '' */
.ri-back-in-time:before { content: '\e8ab'; } /* '' */
.ri-monitor:before { content: '\e8ac'; } /* '' */
.ri-mobile:before { content: '\e8ad'; } /* '' */
.ri-network:before { content: '\e8ae'; } /* '' */
.ri-cd:before { content: '\e8af'; } /* '' */
.ri-install:before { content: '\e8b1'; } /* '' */
.ri-globe:before { content: '\e8b2'; } /* '' */
.ri-cloud:before { content: '\e8b3'; } /* '' */
.ri-cloud-thunder:before { content: '\e8b4'; } /* '' */
.ri-flash:before { content: '\e8b5'; } /* '' */
.ri-moon:before { content: '\e85c'; } /* '' */
.ri-flight:before { content: '\e8b7'; } /* '' */
.ri-emo-wink:before { content: '\e91d'; } /* '' */
.ri-leaf:before { content: '\e8b9'; } /* '' */
.ri-lifebuoy:before { content: '\e8ba'; } /* '' */
.ri-mouse:before { content: '\e8bb'; } /* '' */
.ri-briefcase:before { content: '\e8bc'; } /* '' */
.ri-suitcase:before { content: '\e8bd'; } /* '' */
.ri-dot:before { content: '\e8be'; } /* '' */
.ri-dot-2:before { content: '\e8bf'; } /* '' */
.ri-dot-3:before { content: '\e8c0'; } /* '' */
.ri-brush:before { content: '\e8c1'; } /* '' */
.ri-magnet:before { content: '\e8c2'; } /* '' */
.ri-infinity:before { content: '\e8c3'; } /* '' */
.ri-erase:before { content: '\e8c4'; } /* '' */
.ri-chart-pie:before { content: '\e862'; } /* '' */
.ri-chart-line:before { content: '\e8c6'; } /* '' */
.ri-chart-bar:before { content: '\e8c7'; } /* '' */
.ri-chart-area:before { content: '\e8c8'; } /* '' */
.ri-tape:before { content: '\e8c9'; } /* '' */
.ri-graduation-cap:before { content: '\e8ca'; } /* '' */
.ri-language:before { content: '\e8cb'; } /* '' */
.ri-ticket:before { content: '\e8cc'; } /* '' */
.ri-water:before { content: '\e8cd'; } /* '' */
.ri-droplet:before { content: '\e8ce'; } /* '' */
.ri-air:before { content: '\e8cf'; } /* '' */
.ri-credit-card:before { content: '\e8d0'; } /* '' */
.ri-floppy:before { content: '\e8d1'; } /* '' */
.ri-megaphone:before { content: '\e8d3'; } /* '' */
.ri-database:before { content: '\e8d4'; } /* '' */
.ri-drive:before { content: '\e8d5'; } /* '' */
.ri-bucket:before { content: '\e8d6'; } /* '' */
.ri-thermometer:before { content: '\e8d7'; } /* '' */
.ri-flow-cascade:before { content: '\e8d9'; } /* '' */
.ri-flow-branch:before { content: '\e8da'; } /* '' */
.ri-flow-tree:before { content: '\e8db'; } /* '' */
.ri-flow-line:before { content: '\e8dc'; } /* '' */
.ri-flow-parallel:before { content: '\e8dd'; } /* '' */
.ri-rocket:before { content: '\e8de'; } /* '' */
.ri-gauge:before { content: '\e8df'; } /* '' */
.ri-traffic-cone:before { content: '\e8e0'; } /* '' */
.ri-cc:before { content: '\e8e1'; } /* '' */
.ri-cc-by:before { content: '\e8e2'; } /* '' */
.ri-cc-nc:before { content: '\e8e3'; } /* '' */
.ri-cc-nc-eu:before { content: '\e8e4'; } /* '' */
.ri-cc-nc-jp:before { content: '\e8e5'; } /* '' */
.ri-cc-sa:before { content: '\e8e6'; } /* '' */
.ri-cc-nd:before { content: '\e8e7'; } /* '' */
.ri-cc-pd:before { content: '\e8e8'; } /* '' */
.ri-cc-zero:before { content: '\e8e9'; } /* '' */
.ri-cc-share:before { content: '\e8ea'; } /* '' */
.ri-cc-remix:before { content: '\e8eb'; } /* '' */
.ri-flickr:before { content: '\e8ed'; } /* '' */
.ri-flickr-circled:before { content: '\e8ec'; } /* '' */
.ri-vimeo:before { content: '\e8f0'; } /* '' */
.ri-vimeo-circled:before { content: '\e8f1'; } /* '' */
.ri-twitter:before { content: '\e8f2'; } /* '' */
.ri-twitter-circled:before { content: '\e8f3'; } /* '' */
.ri-facebook:before { content: '\e8f4'; } /* '' */
.ri-facebook-circled:before { content: '\e8f5'; } /* '' */
.ri-facebook-squared:before { content: '\e8f6'; } /* '' */
.ri-gplus:before { content: '\e8f7'; } /* '' */
.ri-gplus-circled:before { content: '\e8f8'; } /* '' */
.ri-pinterest:before { content: '\e8f9'; } /* '' */
.ri-pinterest-circled:before { content: '\e8fa'; } /* '' */
.ri-tumblr:before { content: '\e8fb'; } /* '' */
.ri-tumblr-circled:before { content: '\e8fc'; } /* '' */
.ri-linkedin:before { content: '\e8fd'; } /* '' */
.ri-linkedin-circled:before { content: '\e8fe'; } /* '' */
.ri-dribbble:before { content: '\e8ff'; } /* '' */
.ri-dribbble-circled:before { content: '\e900'; } /* '' */
.ri-stumbleupon:before { content: '\e901'; } /* '' */
.ri-stumbleupon-circled:before { content: '\e902'; } /* '' */
.ri-lastfm:before { content: '\e903'; } /* '' */
.ri-lastfm-circled:before { content: '\e904'; } /* '' */
.ri-rdio:before { content: '\e905'; } /* '' */
.ri-rdio-circled:before { content: '\e906'; } /* '' */
.ri-paypal:before { content: '\e907'; } /* '' */
.ri-vkontakte:before { content: '\e918'; } /* '' */
.ri-sun:before { content: '\e889'; } /* '' */
.ri-sun-filled:before { content: '\e88a'; } /* '' */
.ri-cinema:before { content: '\e944'; } /* '' */
.ri-ok-circle:before { content: '\e948'; } /* '' */
.ri-plus-circle:before { content: '\e888'; } /* '' */
.ri-minus-circle:before { content: '\e94e'; } /* '' */
.ri-home:before { content: '\e951'; } /* '' */
.ri-pin:before { content: '\e958'; } /* '' */
.ri-quote-left:before { content: '\e960'; } /* '' */
.ri-quote-right:before { content: '\e961'; } /* '' */
.ri-quote-left-alt:before { content: '\e962'; } /* '' */
.ri-quote-right-alt:before { content: '\e963'; } /* '' */
.ri-undo:before { content: '\e967'; } /* '' */
.ri-book-open:before { content: '\e849'; } /* '' */
.ri-wrench:before { content: '\e983'; } /* '' */
.ri-connect:before { content: '\e836'; } /* '' */
.ri-mic-alt:before { content: '\e8b6'; } /* '' */
.ri-move:before { content: '\e995'; } /* '' */
.ri-popup:before { content: '\e996'; } /* '' */
.ri-down-circle:before { content: '\e882'; } /* '' */
.ri-left-circle:before { content: '\e881'; } /* '' */
.ri-right-circle:before { content: '\e880'; } /* '' */
.ri-up-circle:before { content: '\e99e'; } /* '' */
.ri-loop:before { content: '\e9a0'; } /* '' */
.ri-loop-alt:before { content: '\e9a1'; } /* '' */
.ri-exchange:before { content: '\e9a2'; } /* '' */
.ri-split:before { content: '\e9a3'; } /* '' */
.ri-arrow-curved:before { content: '\e9a4'; } /* '' */
.ri-play:before { content: '\e8d2'; } /* '' */
.ri-play-circle:before { content: '\e912'; } /* '' */
.ri-stop:before { content: '\e945'; } /* '' */
.ri-pause:before { content: '\e946'; } /* '' */
.ri-to-start:before { content: '\e94b'; } /* '' */
.ri-to-end:before { content: '\e94c'; } /* '' */
.ri-eject:before { content: '\e94d'; } /* '' */
.ri-bat-empty:before { content: '\e9b2'; } /* '' */
.ri-bat-half:before { content: '\e9b3'; } /* '' */
.ri-bat-full:before { content: '\e9b4'; } /* '' */
.ri-bat-charge:before { content: '\e9b5'; } /* '' */
.ri-equalizer:before { content: '\e9b8'; } /* '' */
.ri-cursor:before { content: '\e9b9'; } /* '' */
.ri-aperture:before { content: '\e9ba'; } /* '' */
.ri-aperture-alt:before { content: '\e9bb'; } /* '' */
.ri-steering-wheel:before { content: '\e9bc'; } /* '' */
.ri-eyedropper:before { content: '\e9c1'; } /* '' */
.ri-layers:before { content: '\e9c2'; } /* '' */
.ri-layers-alt:before { content: '\e9c3'; } /* '' */
.ri-umbrella:before { content: '\e9cb'; } /* '' */
.ri-hash:before { content: '\e9d1'; } /* '' */
.ri-at:before { content: '\e9d2'; } /* '' */
.ri-pilcrow:before { content: '\e9d3'; } /* '' */
.ri-dial:before { content: '\e9d4'; } /* '' */
.ri-menu:before { content: '\e90c'; } /* '' */
.ri-email:before { content: '\e909'; } /* '' */
.ri-gmail:before { content: '\e90a'; } /* '' */
.ri-video:before { content: '\e845'; } /* '' */
.ri-videocam:before { content: '\e910'; } /* '' */
.ri-video-chat:before { content: '\e911'; } /* '' */
.ri-picture-alt:before { content: '\e913'; } /* '' */
.ri-th-large:before { content: '\e914'; } /* '' */
.ri-th:before { content: '\e915'; } /* '' */
.ri-th-list:before { content: '\e947'; } /* '' */
.ri-attach:before { content: '\e8a3'; } /* '' */
.ri-eye:before { content: '\e94f'; } /* '' */
.ri-eye-off:before { content: '\e822'; } /* '' */
.ri-tag:before { content: '\e828'; } /* '' */
.ri-tags:before { content: '\e8c5'; } /* '' */
.ri-share:before { content: '\e811'; } /* '' */
.ri-export:before { content: '\e916'; } /* '' */
.ri-pencil:before { content: '\e950'; } /* '' */
.ri-edit:before { content: '\e959'; } /* '' */
.ri-edit-alt:before { content: '\e827'; } /* '' */
.ri-comment-alt:before { content: '\e818'; } /* '' */
.ri-comments:before { content: '\e81b'; } /* '' */
.ri-bell:before { content: '\e812'; } /* '' */
.ri-compass:before { content: '\e837'; } /* '' */
.ri-compass-circled:before { content: '\e95a'; } /* '' */
.ri-trash:before { content: '\e85f'; } /* '' */
.ri-doc:before { content: '\e95b'; } /* '' */
.ri-doc-new:before { content: '\e846'; } /* '' */
.ri-folder:before { content: '\e84a'; } /* '' */
.ri-folder-close:before { content: '\e84b'; } /* '' */
.ri-folder-open:before { content: '\e84c'; } /* '' */
.ri-cog:before { content: '\e908'; } /* '' */
.ri-calendar:before { content: '\e8b0'; } /* '' */
.ri-volume-off:before { content: '\e952'; } /* '' */
.ri-volume-down:before { content: '\e953'; } /* '' */
.ri-volume:before { content: '\e954'; } /* '' */
.ri-volume-up:before { content: '\e955'; } /* '' */
.ri-headphones:before { content: '\e90d'; } /* '' */
.ri-lightbulb:before { content: '\e8a6'; } /* '' */
.ri-resize-full:before { content: '\e815'; } /* '' */
.ri-resize-full-alt:before { content: '\e86a'; } /* '' */
.ri-resize-small:before { content: '\e86b'; } /* '' */
.ri-resize-vertical:before { content: '\e90b'; } /* '' */
.ri-resize-horizontal:before { content: '\e95c'; } /* '' */
.ri-play-circled2:before { content: '\e89a'; } /* '' */
.ri-record:before { content: '\e89f'; } /* '' */
.ri-backward:before { content: '\e91a'; } /* '' */
.ri-fast-backward:before { content: '\e91c'; } /* '' */
.ri-fast-forward:before { content: '\e93e'; } /* '' */
.ri-forward:before { content: '\e93f'; } /* '' */
.ri-step-backward:before { content: '\e941'; } /* '' */
.ri-step-forward:before { content: '\e942'; } /* '' */
.ri-target:before { content: '\e86c'; } /* '' */
.ri-inbox:before { content: '\e84f'; } /* '' */
.ri-inbox-alt:before { content: '\e84d'; } /* '' */
.ri-list:before { content: '\e949'; } /* '' */
.ri-gift:before { content: '\e851'; } /* '' */
.ri-clipboard:before { content: '\e94a'; } /* '' */
.ri-key:before { content: '\e8d8'; } /* '' */
.ri-filter:before { content: '\e8ee'; } /* '' */
.ri-paper-plane:before { content: '\e8b8'; } /* '' */